#Tasks{
    height: 620px;
    width: 95%;
    margin:10px auto;
    /* background-color: red; */
    overflow: auto;
    
}




#T1{
    height: 75px;
    width: 76.45%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    margin-top: 250px;
    z-index: 1;

    select{
        /* padding: 3px 2px;
         */
        padding: 6px 15px;
        width: 150px;
         border-radius: 6px;
         border: 2px solid #E2E8F0;
         outline: 0px;
         color: #6366F1;
         font-weight: 600;
         font-size: 12px;
         cursor: pointer;
 
         option{
             color: black;
             font-size: 12px;
         }
    }

    /* button{
        padding: 6px 15px;
        border-radius: 10px;
        border: 0px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #6366F1;
    } */

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

#CreateButn{
    padding: 6px 15px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #6366F1;
}

#T1>div>button{
    padding: 6px 15px;
    border-radius: 10px;
    border: 2px solid #E2E8F0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #94A3B8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

#B1{
    color:#6366F1;
    background-color: #6365f157;
    border: 2px solid #6366F1;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#B2{
    color:rgb(0, 183, 255);
    background-color: rgb(0, 183, 255,0.33);
    border: 2px solid  rgb(0, 183, 255);
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#B3{
    color: rgb(255, 200, 0);
    background-color: rgb(255, 255, 0,0.33);
    border: 2px solid  rgb(255, 200, 0);
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#B4{
    color: #22CC5E;
    background-color: rgb(34, 204, 94, 0.33);
    border: 2px solid  #22CC5E;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#B5{
    color: #EF4444;
    background-color: rgba(239, 68, 68, 0.33);
    border: 2px solid  #EF4444;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


#T2{
    height: auto;
    width: 99%;
    /* background-color: black; */
    /* margin-top: 70px; */
    margin: 330px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
    row-gap: 28px;
}



#TasksP1{
    height: 220px;
    width: 73.87%;
    background-color: green;
    position: fixed;
    border-radius: 15px;
    background-color: #6366F1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 20px;
    z-index: 1;
}

#TasksP1>div:nth-child(1){
    height: 90%;
    width: 300px;
    /* background-color: red; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}